
        keys  //                       w    h     x     y    rot rx ry
            = <&key_physical_attrs 100 100    0   20      0  0 0>
            , <&key_physical_attrs 100 100  100   15      0  0 0>
            , <&key_physical_attrs 100 100  200    0      0  0 0>
            , <&key_physical_attrs 100 100  300   10      0  0 0>
            , <&key_physical_attrs 100 100  400   25      0  0 0>
            , <&key_physical_attrs 100 100  600   25      0  0 0>
            , <&key_physical_attrs 100 100  700   10      0  0 0>
            , <&key_physical_attrs 100 100  800    0      0  0 0>
            , <&key_physical_attrs 100 100  900   15      0  0 0>
            , <&key_physical_attrs 100 100 1000   20      0  0 0>
            , <&key_physical_attrs 100 100    0  120      0  0 0>
            , <&key_physical_attrs 100 100  100  115      0  0 0>
            , <&key_physical_attrs 100 100  200  100      0  0 0>
            , <&key_physical_attrs 100 100  300  110      0  0 0>
            , <&key_physical_attrs 100 100  400  125      0  0 0>
            , <&key_physical_attrs 100 100  600  125      0  0 0>
            , <&key_physical_attrs 100 100  700  110      0  0 0>
            , <&key_physical_attrs 100 100  800  100      0  0 0>
            , <&key_physical_attrs 100 100  900  115      0  0 0>
            , <&key_physical_attrs 100 100 1000  120      0  0 0>
            , <&key_physical_attrs 100 100    0  220      0  0 0>
            , <&key_physical_attrs 100 100  100  215      0  0 0>
            , <&key_physical_attrs 100 100  200  200      0  0 0>
            , <&key_physical_attrs 100 100  300  210      0  0 0>
            , <&key_physical_attrs 100 100  400  225      0  0 0>
            , <&key_physical_attrs 100 100  600  225      0  0 0>
            , <&key_physical_attrs 100 100  700  210      0  0 0>
            , <&key_physical_attrs 100 100  800  200      0  0 0>
            , <&key_physical_attrs 100 100  900  215      0  0 0>
            , <&key_physical_attrs 100 100 1000  220      0  0 0>
            , <&key_physical_attrs 100 100  220  310      0  0 0>
            , <&key_physical_attrs 100 100  320  325      0  0 0>
            , <&key_physical_attrs 100 100  420  335      0  0 0>
            , <&key_physical_attrs 100 100  580  335      0  0 0>
            , <&key_physical_attrs 100 100  680  325      0  0 0>
            , <&key_physical_attrs 100 100  780  310      0  0 0>
            ;